* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(29, 29, 29);
  font-family: "Source Sans Pro", sans-serif;
}

#all-content {
  width: 100%;
  height: 100%;
}

.navbar-container {
  height: 10vh;
  width: 100%;
  position: sticky;
}

nav {
  width: 90%;
  left: 5%;
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(29, 29, 29);
  position: fixed;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

li {
  margin: 25px;
  cursor: pointer;
}

.navbar-link {
  display: inline-block;
  position: relative;
  color: rgb(29, 29, 29);
}

.navbar-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: rgb(29, 29, 29);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-contenct-container {
  height: 100%;
  width: 100%;
}

.section-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar-container {
    visibility: hidden;
  }
  .main-contenct-container {
    background-color: persian-black;
  }
}

@media only screen and (max-width: 650px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar-container {
    visibility: hidden;
  }
  .main-contenct-container {
    background-color: persian-black;
  }
}
